body{
  background-color: #FFFFFF;
}

hr {
  height: 1px;
  background-color: #9E9E9E;
}

.contenedor {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  margin: 0px;
}

* { box-sizing: border-box; margin: 0; padding: 0; }
.flexbox { display: flex; }
.flexbox .stretch { flex: 1; }
.flexbox .normal { flex: 0; margin: 0 0 0 1rem; }
.flexbox div input { padding: .5em 1em; width: 100%; }
.flexbox div button { padding: .5em 1em; white-space: nowrap; }

.nopadding{
  padding: 0px;
}

.nomargin{
  margin: 0px;
}

.noBorder{
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
}

.principalAlert{
  z-index:40;
  position: fixed;
  top: 0pt;
  margin: 5pt;
  width: 99%;
  text-align: center;
}

.spinnerBack{
  background: black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
}

.spinner {
  display: block;
  position: fixed;
  z-index: 2;
  top: 46%;
  right: 46%;
  background: white; 
  border: 1px solid #A9A9A9;
  -moz-border-radius: 9px;
  -webkit-border-radius:9px;
  padding: 10px;
  opacity: 1;
}

@media only screen and (min-width: 540px) and (max-width: 960px){
  .spinner {
    display: block;
    position: fixed;
    z-index: 2;
    top: 45%;
    right: 44%;
    background: white; 
    border: 1px solid #A9A9A9;
    -moz-border-radius: 9px;
    -webkit-border-radius:9px;
    padding: 10px;
    opacity: 1;
  }
}

@media only screen and (max-width: 540px) {
  .spinner {
    display: block;
    position: fixed;
    z-index: 2;
    top: 50%;
    right: 39%;
    background: white; 
    border: 1px solid #A9A9A9;
    -moz-border-radius: 9px;
    -webkit-border-radius:9px;
    padding: 10px;
    opacity: 1;
  }
}

.header {
  width:100%;     
  align-items: center;
  background-color: #EAEAEA;
  padding-top: 0pt; 
  padding-bottom: 0pt;
}

.buttonBackground{
  background-color: white;
}

.menu {
  width:100%;     
  align-items: center;
  margin: 5px;
  margin-bottom: 10px;
}

.compMenu{
  padding: 2px;
}

.menuGroup{
  background-color: #FAFAFA;
}

.actionsGroup{
  background-color: #E0E0E0;
}

.opcionsGroup{
  background-color: white;
}

.buttons{
  width: 100%;
  margin: 0px;
  margin-top: 1px;
  padding: 0px;
}

.registers{
  background-color: #f5f5f5;
  font-size: 95%;
}

.modRegister{
  background-color: #c2c2c2;
  font-size: 95%;
}

.popover{
  max-width: 100%;
}

.popoverFooter {
  padding: 2px;
}

.popoverText {
  font-size: 16px;
}

.instructions_table{
  font-size: 15px;
}

.table-inst-wrapper-scroll-y {
  display: block;
  max-height: 90vh;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.memory_table{
  font-size: 13px;
}

.table-mem-wrapper-scroll-y {
  display: block;
  max-height: 75vh;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.instruction_table{
  font-size: 15px;
}

.memoryLayout{
  width: 100%;
  text-align: center;
}

.fields{
  padding: 1%;
}

.code-scroll-y {
  display: block;
  max-height: 90vh;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

.architecture-scroll-y {
  display: block;
  max-height: 60vh;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}





