body{
  background-color: #FFFFFF;
  overflow-x: hidden;
  font-size: 15px;
  height: 100vh;
}

* { box-sizing: border-box; margin: 0; padding: 0; }
.flexbox { display: flex; }
.flexbox .stretch { flex: 1; }
.flexbox .normal { flex: 0; margin: 0 0 0 1rem; }
.flexbox div input { padding: .5em 1em; width: 100%; }
.flexbox div button { padding: .5em 1em; white-space: nowrap; }

.contenedor {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  margin: 0px;
}

hr {
  height: 1px;
  background-color: #9E9E9E;
}

h1 {
  display: block;
  font-size: 1em;
}

h2 {
  display: block;
  font-size: 1.5em;
}

.h5 {
  font-size: 1.25rem;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  display: inline-block;
}

.h6 {
  font-size: 1rem;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  display: inline-block;
}

.h6Sm {
  font-size: 0.85rem;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  display: inline-block;
}

.noBorder{
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
}

.table td{
  vertical-align: middle;
}

.justify {
  text-align: justify;
}

.center {
    text-align: center;
}

.left {
  text-align: left;
}

.popover{
  max-width: 100%;
}


.header {
  width:100%;     
  align-items: center;
  background-color: #EAEAEA;
  padding-top: 0pt; 
  padding-bottom: 0pt;
}

.headerText {
  color:#2196F3;
  margin:0px;
}

.headerName {
  color:#383d41;
  font-size:0.55em;
}

.headerLogo{
  height:5vh
}


.spinnerBack{
  background: black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 40;
}

.spinner {
  display: block;
  position: fixed;
  z-index: 41;
  top: 46%;
  right: 46%;
  background: white; 
  border: 1px solid #A9A9A9;
  -moz-border-radius: 9px;
  -webkit-border-radius:9px;
  padding: 10px;
  opacity: 1;
  text-align: center;
}

.spinnerBox {
  display: inline-block;
  opacity: 1;
}

.spinnerIcon {
  width: 3rem;
  height: 3rem;
}


.infoButton {
  background-color:#D4DB17;
}


.authorName {
  height: 6vh;
}


.buttonBackground{
  background-color: white;
}

.buttons{
  width: 100%;
  margin: 0px;
  margin-top: 1px;
  padding: 0px;
  font-size: 1em;
}

.menu {
  width:100%;     
  align-items: center;
  margin: 5px;
  margin-bottom: 10px;
}

.compMenu{
  padding: 2px;
}

.menuGroup{
  background-color: #FAFAFA;
}

.actionsGroup{
  background-color: #E0E0E0;
}

.opcionsGroup{
  background-color: white;
}









.architectureCard {
  cursor: pointer;
  margin-bottom: 3px;
}

.architectureImg {
  width: 50%;
  height: auto;
}

.arch_delete {
  margin-top: 50%;
}

.browserBadge {
  background-color: transparent;
}

.broserIcon {
  height: 50px;
  width: auto;
}









.memoryLayout{
  width: 100%;
  text-align: center;
}

.memoryLayoutDiv {
  margin-top: 2%;
  margin-bottom: 2%;
}

.memoryLayoutForm {
  margin-bottom: 2%;
}

.fields{
  padding: 1%;
}

.architecture-scroll-y {
  display: block;
  max-height: 60vh;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}









.errorAssembly {
  padding: 3%;
  background: #EF9A9A;
}

.fileForm {
  background-color: white;
  color: black;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
  font-size: 0.85em;
}

.code-scroll-y {
  display: block;
  max-height: 90vh;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}


.help-scroll-y {
  display: block;
  max-height: 80vh;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}






.calculatorImg {
  width: 100%;
}


.registers{
  background-color: #f5f5f5;
  font-size: 1.03em;
}

.modRegister{
  background-color: #c2c2c2;
  font-size: 1.03em;
}

.registerValue {
  background-color:#CEECF5;
  color:black;
  font-family:monospace;
  font-weight:normal;
}

.registerPopover {
  background-color:#CEECF5;
  color:black;
}

.popoverFooter {
  padding: 2px;
}

.popoverText {
  font-size: 1.2em;
}


.memory_table{
  max-height:49vh;
  padding-left: 1vw;
}

.table-mem-wrapper-scroll-y {
  display: block;
  max-height: 75vh;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.memoryValue {
  float: right;
  margin-right: 2%;
}

.memoryBorder {
  border:1px 
  solid gray;
}

.memoryTag {
  float: left;
  position: relative;
  left: -0.7vw;
}

.groupLabelling {
  float: top;
  position: relative;
  top: -0.6vw;
}

.binaryTag {
  position:relative;top:-9px;
}

.instructions_table{
  font-size: 1em;
  padding-right: 1vw;
  cursor:pointer; 
  max-height:61vh;
}

.table-inst-wrapper-scroll-y {
  display: block;
  max-height: 90vh;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.breakPoint {
  width:auto !important;
  height:4vh;
}

.executionTag {
  float:right;
  position:relative;
  right:-0.7vw;
}

.consoleIcon {
  height:5vh;
  opacity:0.6;
}

.keyboardButton {
  margin-top: 5%;
  float:right;
}

.enterIcon {
  transform: rotate(90deg);
}

.text-blue-funny {
  color: #00BCFE;
}

.variant-blue-funny {
  background-color: #00BCFE;
}

.stats{
  font-size: 0.85em;
}

#chart {
  margin: 35px auto;
  padding: 0;
}

.apexcharts-legend-text tspan:nth-child(1) {
  font-weight: lighter;
  fill: #999;
}

.apexcharts-legend-text tspan:nth-child(3) {
  font-weight: bold;
}









@media only screen and (min-width: 2560px){
  .instructions_table{
    padding-right: 1%;
    cursor:pointer; 
    max-height:80vh;
  }
  .memory_table{
    font-size: 0.85em;
    max-height:70vh;
  }
}

@media only screen and (min-width: 540px) and (max-width: 960px){
  .spinner {
    display: block;
    position: fixed;
    z-index: 41;
    top: 45%;
    right: 44%;
    background: white; 
    border: 1px solid #A9A9A9;
    -moz-border-radius: 9px;
    -webkit-border-radius:9px;
    padding: 10px;
    opacity: 1;
    text-align: center;
  }

  .groupLabelling {
    float: top;
    position: relative;
    top: -2.3vw;
  }
}

@media only screen and (max-width: 540px) {
  .spinner {
    display: block;
    position: fixed;
    z-index: 41;
    top: 50%;
    right: 39%;
    background: white; 
    border: 1px solid #A9A9A9;
    -moz-border-radius: 9px;
    -webkit-border-radius:9px;
    padding: 10px;
    opacity: 1;
    text-align: center;
  }

  .groupLabelling {
    float: top;
    position: relative;
    top: -3.2vw;
  }
}