body{background-color: #FFFFFF;}

hr {
  height: 1px;
  background-color: #9E9E9E;
}

.contenedor {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  margin: 0px;
}

.header {
  width:100%;     
	align-items: center;
	background-color: #EAEAEA;
}

.menu {
  width:100%;     
	align-items: center;
	margin: 5px;
	margin-bottom: 10px;
}

.nopadding{
	padding: 0px;
}

.menuGroup{
	background-color: #FAFAFA;
}

.actionsGroup{
	background-color: #E0E0E0;
}

.opcionsGroup{
	background-color: white;
}

.buttons{
	width: 100%;
	margin: 0px;
	margin-top: 1px;
	padding: 0px;
}

.registers{
	background-color: #f5f5f5;
}

.instructions_table{
	font-size: 16px;
}

.table-inst-wrapper-scroll-y {
  display: block;
  max-height: 90vh;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.memory_table{
	font-size: 13px;
}

.table-mem-wrapper-scroll-y {
  display: block;
  max-height: 75vh;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.code-scroll-y {
  display: block;
  max-height: 75vh;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.popoverFooter {
  padding: 2px;
}

.popoverText {
  font-size: 12px;
}

* { box-sizing: border-box; margin: 0; padding: 0; }
.flexbox { display: flex; }
.flexbox .stretch { flex: 1; }
.flexbox .normal { flex: 0; margin: 0 0 0 1rem; }
.flexbox div input { padding: .5em 1em; width: 100%; }
.flexbox div button { padding: .5em 1em; white-space: nowrap; }