[submodule "creatorDriver"]
	path = creatorDriver
	url = https://github.com/EUtrilla2002/creatorDriver.git
[submodule "creator-assembler"]
	path = creator-assembler
	url = https://github.com/creatorsim/creator-assembler.git
