[submodule "creatorDriver"]
	path = gateway/creatorDriver
	url = https://github.com/EUtrilla2002/creatorDriver.git
[submodule "creator-assembler"]
	path = creator-assembler
	url = https://github.com/creatorsim/creator-assembler.git
[submodule "OrangePiDriver"]
	path = gateway/OrangePiDriver
	url = https://github.com/EUtrilla2002/OrangePiDriver.git
