<!DOCTYPE html>
<html lang="en">

  <!-- Head -->
  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-186823627-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-186823627-2');
    </script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>CREATOR - didaCtic and geneRic assEmbly progrAmming simulaTOR</title>

    <!-- Required stylesheets -->
    <link type="text/css" rel="stylesheet" href="external/bootstrap_vue/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="external/bootstrap_vue/bootstrap-largegrid.min.css"/>
    <link type="text/css" rel="stylesheet" href="external/bootstrap_vue/bootstrap-vue.min.css"/>
    <link type="text/css" rel='stylesheet' href="external/fontawesome/css/all.css">
    <link rel="stylesheet" href="external/codemirror/codemirror.css">
    <link rel="stylesheet" href="css/style.css">
   
    <!-- Load polyfills to support older browsers -->
    <!--<script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>-->

    <!-- Required scripts -->
    <script src="external/bootstrap_vue/polyfill.min.js"></script>
    <script src="external/bootstrap_vue/vue.min.js"></script>
    <script src="external/bootstrap_vue/bootstrap-vue.min.js"></script>
    <script src="external/jquery.min.js"></script>
    <script src="external/BigInteger.min.js"></script>
    <script src="external/lodash.js"></script>

    <!--Codemirror scripts-->
    <script src="external/codemirror/codemirror.js"></script>
    <script src="external/codemirror/keymap/vim.js"></script>
    <script src="external/codemirror/keymap/sublime.js"></script>
    <script src="external/codemirror/mode/gas/gas.js"></script>
    <script src="external/codemirror/mode/javascript/javascript.js"></script>
    <script src="external/codemirror/addon/display/autorefresh.js"></script>
    <script src="external/codemirror/addon/comment/comment.js"></script>
    <script src="external/codemirror/addon/hint/show-hint.js"></script>

    <!--Apexcharts scripts-->
    <script>
      window.Promise ||
        document.write(
          '<script src="external/apexcharts/polyfill.min.js"><\/script>'
        )
      window.Promise ||
        document.write(
          '<script src="external/apexcharts/classList.min.js"><\/script>'
        )
      window.Promise ||
        document.write(
          '<script src="external/apexcharts/findindex_polyfill_mdn"><\/script>'
        )
    </script>
    <script src="external/apexcharts/apexcharts"></script>
    <script src="external/apexcharts/vue-apexcharts"></script>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="./images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="./images/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./images/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/icons/favicon-16x16.png">
    <link rel="manifest" href="./images/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./images/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

  </head>

  <!-- Body -->
  <body>

    <div id="app">
      <template>

        <!------------------------>
        <!-- General components -->
        <!------------------------>

        <!-- Loading spinner -->
        <spinner-loading  id="loading" 
                          style="display: none">
        </spinner-loading>

        <!-- Browser not supported modal -->
        <supported-browser id ="modalBrowser"></supported-browser>


        <header>
          
          <!-- Navbar  -->
          <navbar-creator :version="version" 
                          :architecture_name="architecture_name">
          </navbar-creator>


          <!-- Configuration modal -->
          <form-configuration id="configuration"
                              :instructions_packed="instructionsPacked" 
                              :autoscroll="autoscroll" 
                              :notification_time="notificationTime" 
                              :dark="dark" 
                              :c_debug="c_debug">
          </form-configuration>


          <!-- Information modals -->

          <!-- Notification modal -->
          <uielto-notifications id="notifications"
                                :notifications="notifications">                        
          </uielto-notifications>

          <!-- About modal -->
          <uielto-about id="about"></uielto-about>


          <!-- Instruction Help sidebar -->
          <sidebar-instruction-help id="sidebar_help" :architecture="architecture"></sidebar-instruction-help>

        </header>










        <!----------------------->
        <!-- Load architecture -->
        <!----------------------->

        <div class="contenedor row menu_cards" id="load_menu" v-if="creator_mode == 'load_architecture'">
          
          <!-- Navbar -->
          <!-- TODO: navbar component -->
          <div class="contenedor menu row my-3">
            <div class="col-lg-3 col-sm-12 p-0"></div>
            <div class="col-lg-6 col-sm-12 p-0"></div>
            <div class="col-lg-3 col-sm-12 p-0">
              <div class="col-lg-12 col-sm-12">
                <div class="col-lg-12 col-sm-12 buttons row">
                  <div class="col-lg-6 col-sm-6 buttons">
                    <b-button class="btn btn-outline-secondary btn-block menuGroup btn-sm h-100"
                              id="conf_btn_men"
                              v-b-modal.configuration>
                      <span class="fa fa-cogs"></span> 
                      Configuration
                    </b-button>
                  </div>
                  <div class="col-lg-6 col-sm-6 buttons">
                    <b-button class="btn btn-outline-secondary btn-block btn-sm h-100 infoButton" 
                              id="info_men">
                      <span class="fas fa-info-circle"></span> 
                      Info
                    </b-button>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!-- Information popover -->
          <popover-info target="info_men" show_instruction_help="false"></popover-info>



          <!-- Architecture menu -->
          <div class="col-lg-12 col-sm-12" id="load_menu_arch">
            <div class="col-lg-12 col-sm-12 row p-0 m-0">

              <div class="col-lg-1 col-sm-1"></div>
              <div class="col-lg-10 col-sm-10">
                <b-list-group>
                  <b-list-group-item>

                    <preload-architecture :arch_available="arch_available"
                                          :back_card="back_card">
                    </preload-architecture>

                    <!-- Load new architecture card -->
                    <load-architecture></load-architecture>

                    <!-- New architecture card -->
                    <new-architecture></new-architecture>

                  </b-list-group-item>
                </b-list-group>


                <!-- Architecture selector modals -->

                <!-- Delete architecture modal -->
                <delete-architecture  id="modalDeletArch"
                                      :index="modalDeletArchIndex">                      
                </delete-architecture>

              </div>

              <div class="col-lg-1 col-sm-1"></div>
            </div>
            <br>


            <!-- Backup modal -->
            <uielto-backup id="copy" :date_copy="date_copy"></uielto-backup>

          </div>

        </div>









        <!------------------>
        <!-- Architecture -->
        <!------------------>

        <div class="contenedor row menu_cards" id="architecture_menu" v-if="creator_mode == 'architecture'">

          <!-- Navbar -->
          <!-- TODO: navbar component -->
          <div class="contenedor menu row my-3">
            <div class="col-lg-3 col-sm-12 p-0">
              <div class="col-lg-12 col-sm-12">
                <div class="col-lg-12 col-sm-12 buttons row">
                  <div class="col-lg-6 col-sm-6 buttons">
                    <b-button class="btn btn-outline-secondary btn-block menuGroup btn-sm assembly_btn btn_arch h-100" 
                              id="assembly_btn_arch" 
                              @click="change_UI_mode('assembly')">
                      <span class="fas fa-hashtag"></span>
                      Assembly
                    </b-button>
                  </div>
                  <div class="col-lg-6 col-sm-6 buttons">
                    <b-button class="btn btn-outline-secondary btn-block menuGroup btn-sm simulator_btn btn_arch h-100"
                              id="sim_btn_arch"
                              @click="change_UI_mode('simulator')">
                      <span class="fas fa-cogs"></span> 
                      Simulator
                    </b-button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-sm-12 p-0">
              <div class="col-lg-12 col-sm-12">
                <div class="col-lg-12 col-sm-12 buttons row">
                  <div class="col-lg-4 col-sm-4 buttons">
                    <b-button class="btn btn-outline-secondary btn-block menuGroup btn-sm h-100" 
                              id="save_btn_arch" 
                              v-b-modal.save_architecture>
                      <span class="fas fa-download"></span> 
                      Save
                    </b-button>
                  </div>
                  <div class="col-lg-8 col-sm-4 buttons" @click="change_mode">
                    <b-button class="btn btn-outline-secondary btn-block menuGroup btn-sm h-100"
                              id="advanced_mode1" 
                              v-if="advanced_mode == true">
                      Advanced Mode: deactivated
                    </b-button>
                    <b-button class="btn btn-outline-secondary btn-block menuGroup btn-sm h-100"  
                              id="advanced_mode2" 
                              v-if="advanced_mode == false">
                      Advanced Mode: activate
                    </b-button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-sm-12 p-0"></div>

            <div class="col-lg-3 col-sm-12 p-0">
              <div class="col-lg-12 col-sm-12">
                <div class="col-lg-12 col-sm-12 buttons row">
                  <div class="col-lg-6 col-sm-6 buttons">
                    <b-button class="btn btn-outline-secondary btn-block menuGroup btn-sm h-100" 
                              id="conf_btn_arch" 
                              v-b-modal.configuration>
                      <span class="fa fa-cogs"></span> 
                      Configuration
                    </b-button>
                  </div>
                  <div class="col-lg-6 col-sm-6 buttons">
                    <b-button class="btn btn-outline-secondary btn-block btn-sm h-100 infoButton" 
                              id="info_arch">
                      <span class="fas fa-info-circle"></span> 
                      Info
                    </b-button>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!-- Architecture navbar modals -->
          <save-architecture id="save_architecture"></save-architecture>


          <!-- Information popover -->
          <popover-info target="info_arch" show_instruction_help="true"></popover-info>



          <!-- Architecture information -->
          <div class="contenedor menu row">

            <!-- Architecture components -->
            <div class="col-lg-12 col-sm-12" id="view_components">
              <b-tabs>

                <!-- Memory layout -->
                <b-tab title="Memory Layout" active>
                  
                  <memory-layout  :memory_layout="architecture.memory_layout">       
                  </memory-layout>

                  <!-- Memory layout modals -->

                  <!-- Edit memory layout -->
                  <memory-layout-edit id="change_memory_layout"></memory-layout-edit>

                  <!-- Reset memory layout -->
                  <memory-layout-reset id="reset_memory_layout"
                                       :architecture_name="architecture_name">
                  </memory-layout-reset>

                </b-tab>


                <!-- Register File -->
                <b-tab title="Register File" :disabled="advanced_mode" v-if="!advanced_mode">

                  <register-file-arch   :register_file="architecture.components"
                                        :bits="number_bits">
                  </register-file-arch>

                  <!-- Register File modals -->

                  <!-- New register file form-->
                  <register-file-new id="new_register_file"></register-file-new>

                  <!-- Reset Register File -->
                  <register-file-reset  id="reset_register_file"
                                        :architecture_name="architecture_name">
                  </register-file-reset>

                  <!-- Register File edit form-->
                  <register-file-edit id="edit_register_file"
                                      :title="modalEditComponent.title"
                                      :element="modalEditComponent.element"
                                      :name="modalEditComponent.name">
                  </register-file-edit>

                  <!-- Delete Register File -->
                  <register-file-delete id="delete_register_file"
                                        :title="modalDeletComp.title"
                                        :element="modalDeletComp.element">
                  </register-file-delete>


                  <!-- Registers modals -->

                  <!-- New register -->
                  <registers-new id="new_register"
                                :element="modalNewElement.element"
                                :type="modalNewElement.type"
                                :double_precision="modalNewElement.double_precision"
                                :reg_id="modalNewElement.id"
                                :simple_reg="simple_reg"
                                :bits="number_bits">
                  </registers-new>

                  <!-- Edit register -->
                  <registers-edit id="edit_register"
                                  :element="modalEditElement.element"
                                  :type="modalEditElement.type"
                                  :double_precision="modalEditElement.double_precision"
                                  :reg_id="modalEditElement.reg_id"
                                  :name="modalEditElement.name"
                                  :def_value="modalEditElement.defValue"
                                  :properties="modalEditElement.properties"
                                  :precision="modalEditElement.precision"
                                  :simple_reg="simple_reg"
                                  :simple_1="modalEditElement.simple1"
                                  :simple_2="modalEditElement.simple2">
                  </registers-edit>

                  <!-- Delete register -->
                  <registers-delete  id="delete_register"
                                    :title="modalDeletElement.title"
                                    :element="modalDeletElement.element">
                  </registers-delete>

                </b-tab>


                <!-- Instruction definition -->
                <b-tab title="Instructions Definition" :disabled="advanced_mode" v-if="!advanced_mode">
                  
                  <instructions :instructions="architecture.instructions"></instructions>

                  <!-- Instructions modals -->

                  <!-- Intruction fields-->
                  <instructions-fields  id="fields_instructions"
                                        :title="modalViewFields.title"
                                        :instruction="formInstruction">
                  </instructions-fields>

                  <!-- New Intruction -->
                  <instructions-new id="new_instructions"></instructions-new>

                  <!-- Reset Intructions -->
                  <instructions-reset id="reset_instructions"
                                      :architecture_name="architecture_name">
                  </instructions-reset>

                  <!-- Edit Intructions -->
                  <instructions-edit  id="edit_instructions"
                                      :element="modalEditInst"
                                      :instruction="formInstruction">
                  </instructions-edit>

                  <!-- Delete instruction -->
                  <instructions-delete  id="delete_instructions"
                                        :intruction="modalDeletInst.index">
                  </instructions-delete>

                </b-tab>


                <!-- Pseudoinstruction definition -->
                <b-tab title="Pseudoinstructions Definition" :disabled="advanced_mode" v-if="!advanced_mode">
                  
                  <pseudoinstructions :pseudoinstructions="architecture.pseudoinstructions"></pseudoinstructions>

                  <!-- Pseudoinstructions modals -->

                  <!-- Pseudontruction fields-->
                  <pseudoinstructions-fields  id="fields_pseudoinstructions"
                                              :title="modalViewPseudoFields.title"
                                              :pseudoinstruction="formPseudoinstruction">
                  </pseudoinstructions-fields>

                  <!-- New Pseudontruction -->
                  <pseudoinstructions-new id="new_pseudoinstructions"></pseudoinstructions-new>

                  <!-- Reset Pseudointructions -->
                  <pseudoinstructions-reset id="reset_pseudoinstructions"
                                            :architecture_name="architecture_name">
                  </pseudoinstructions-reset>

                  <!-- Edit Pseudointructions -->
                  <pseudoinstructions-edit  id="edit_pseudoinstructions"
                                            :element="modalEditPseudoinst"
                                            :pseudoinstruction="formPseudoinstruction">
                  </pseudoinstructions-edit>

                  <!-- Delete Pseudoinstruction -->
                  <pseudoinstructions-delete  id="delete_pseudoinstructions"
                                              :pseudoinstruction="modalDeletPseudoinst.index">
                  </pseudoinstructions-delete>

                </b-tab>


                <!-- Directives definition -->
                <b-tab title="Directives Definition" :disabled="advanced_mode" v-if="!advanced_mode">

                  <directives :directives="architecture.directives"></directives>

                  <!-- Directives modals -->

                  <!-- New directive -->
                  <directives-new id="new_directive"></directives-new>

                  <!-- Reset directives -->
                  <directives-reset id="reset_directives"
                                    :architecture_name="architecture_name">
                  </directives-reset>

                  <!-- Edit directive -->
                  <directives-edit  id="edit_directive"
                                    :title="modalEditDirective.title"
                                    :element="modalEditDirective.element"
                                    :name="modalEditDirective.name"
                                    :action="modalEditDirective.action"
                                    :size="modalEditDirective.size">
                  </directives-edit>

                  <!-- Delete directive -->
                  <directives-delete  id="delete_directive"
                                      :title="modalDeletDir.title"
                                      :element="modalDeletDir.element">
                  </directives-delete>

                </b-tab>
              </b-tabs>
            </div>
          </div>
        </div>










        <!------------------->
        <!-- Assembly view -->
        <!------------------->

        <div class="contenedor row" id="assembly" v-if="creator_mode == 'assembly'">

          <!-- Navbar -->
          <!-- TODO: navbar component -->
          <div class="contenedor menu row my-3">
            <div class="col-lg-3 col-sm-12 p-0">
              <div class="col-lg-12 col-sm-12">
                <div class="col-lg-12 col-sm-12 buttons row">
                  <div class="col-lg-6 col-sm-6 buttons">
                    <b-button class="btn btn-outline-secondary btn-block menuGroup btn-sm arch_btn h-100" 
                              id="arch_btn_assembly"
                              @click="change_UI_mode('architecture')">
                      <span class="fas fa-sitemap"></span>
                      Architecture
                    </b-button>
                  </div>
                  <div class="col-lg-6 col-sm-6 buttons">
                    <b-button class="btn btn-outline-secondary btn-block menuGroup btn-sm simulator_btn h-100" 
                              id="simulator_btn_assembly" 
                              @click="change_UI_mode('simulator')">
                      <span class="fas fa-cogs"></span>
                      Simulator
                    </b-button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-sm-12 p-0">
              <div class="col-lg-12 col-sm-12">
                <b-dropdown right 
                            text="File" 
                            size="sm" 
                            class="btn btn-block menuGroup btn-sm p-0" 
                            variant="outline-secondary">
                  <b-dropdown-item @click="newAssembly">
                    <span class="fas fa-file"></span> 
                    New
                  </b-dropdown-item>
                  <b-dropdown-item v-b-modal.load_assembly>
                    <span class="fas fa-upload"></span>
                    Load
                  </b-dropdown-item>
                  <b-dropdown-item v-b-modal.save_assembly>
                    <span class="fas fa-download"></span>
                    Save
                  </b-dropdown-item>
                  <b-dropdown-item v-b-modal.examples>
                    <span class="far fa-file-alt"></span>
                    Examples
                  </b-dropdown-item>
                </b-dropdown>
              </div>
            </div>

            <div class="col-lg-2 col-sm-12 p-0">
              <div class="col-lg-12 col-sm-12">
                <div class="col-lg-12 col-sm-12 buttons row">
                  <div class="col-lg-12 col-sm-12 buttons">
                    <b-button class="btn btn-outline-secondary btn-block menuGroup btn-sm h-100" 
                              id="compile_assembly" 
                              @click="assembly_compiler()">
                      <span class="fas fa-sign-in-alt"></span>
                      Compile/Linked
                    </b-button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-sm-12 p-0">
              <div class="col-lg-12 col-sm-12">
                <b-dropdown right text="Library" size="sm" class="btn btn-block menuGroup btn-sm p-0" variant="outline-secondary">
                  <b-dropdown-item v-b-modal.save_binary>
                    <span class="fas fa-plus-square"></span>
                    Create
                  </b-dropdown-item>
                  <b-dropdown-item v-b-modal.load_binary>
                    <span class="fas fa-upload"></span>
                    Load Library
                  </b-dropdown-item>
                  <b-dropdown-item @click="removeLibrary">
                    <span class="far fa-trash-alt"></span>
                    Remove
                  </b-dropdown-item>
                </b-dropdown>
              </div>
            </div>

            <div class="col-lg-3 col-sm-12 p-0">
              <div class="col-lg-12 col-sm-12">
                <div class="col-lg-12 col-sm-12 buttons row">
                  <div class="col-lg-6 col-sm-6 buttons">
                    <b-button class="btn btn-outline-secondary btn-block menuGroup btn-sm h-100" 
                              id="conf_btn_ass" 
                              v-b-modal.configuration>
                      <span class="fa fa-cogs"></span>
                      Configuration
                    </b-button>
                  </div>
                  <div class="col-lg-6 col-sm-6 buttons">
                    <b-button class="btn btn-outline-secondary btn-block btn-sm h-100 infoButton"
                              id="info_ass">
                      <span class="fas fa-info-circle"></span>
                      Info
                    </b-button>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!-- Assembly navbar modals -->

          <!-- Load assembly form -->
          <load-assembly id="load_assembly"></load-assembly>          

          <!-- Save assembly form -->
          <save-assembly id="save_assembly"></save-assembly>

          <!-- Examples modal -->
          <examples id="examples" ref="examples" :example_available="example_available" compile="false" modal="examples"></examples>

          <!-- Load binary form -->
          <load-library id="load_binary"></load-library>

          <!-- Save binary form -->
          <save-library id="save_binary"></save-library>


          <!-- Information popover -->
          <popover-info target="info_ass" show_instruction_help="true"></popover-info>


          <!-- Assembly textarea and library tags-->
          <div class="contenedor row">
            <textarea-assembly :browser="browser"></textarea-assembly>
            <list-libray-tags :instructions_tag="update_binary.instructions_tag"></list-libray-tags>
          </div>


          <!-- Compile error modal -->
          <assembly-error id="modalAssemblyError" ref="errorAssembly" :modal_assembly_error="modalAssemblyError"></assembly-error>

        </div>










        <!-------------------->
        <!-- Simulator view -->
        <!-------------------->

        <div class="contenedor row" id="simulator" v-if="creator_mode == 'simulator'">

          <!-- Navbar -->
          <!-- TODO: navbar component -->
          <div class="contenedor menu row my-3">
            <div class="col-lg-3 col-sm-12 p-0">
              <div class="col-lg-12 col-sm-12 py-0 px-1">
                <div class="col-lg-12 col-sm-12 buttons row">
                  <div class="col-lg-6 col-sm-6 buttons">
                    <b-button class="btn btn-outline-secondary btn-block menuGroup btn-sm arch_btn h-100" 
                              id="arch_btn_sim"
                              @click="change_UI_mode('architecture')">
                      <span class="fas fa-sitemap"></span>
                      Architecture
                    </b-button>
                  </div>
                  <div class="col-lg-6 col-sm-6 buttons">
                    <b-button class="btn btn-outline-secondary btn-block menuGroup btn-sm assembly_btn h-100"
                              id="assembly_btn_sim"
                              @click="change_UI_mode('assembly')">
                      <span class="fas fa-hashtag"></span>
                      Assembly
                    </b-button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-sm-12 p-0">
              <div class="col-lg-12 col-sm-12 p-0">
                <div class="col-lg-12 col-sm-12 buttons row">
                  <!-- Execution actions -->
                  <div class="col-lg-12 col-sm-12 py-0 px-1">
                    <div class="col-lg-12 col-sm-12 buttons row">
                      <div class="col-lg-4 col-sm-4 buttons">
                        <b-button @click="reset(true)" 
                                  class="btn btn-outline-secondary btn-block actionsGroup btn-sm h-100">
                          <span class="fas fa-power-off"></span>
                          Reset
                        </b-button>
                      </div>
                      <div class="col-lg-4 col-sm-4 buttons">
                        <b-button accesskey="a" 
                                  class="btn btn-outline-secondary btn-block actionsGroup btn-sm h-100" 
                                  @click="executeInstruction" id="inst">
                          <span class="fas fa-fast-forward"></span>
                          Inst.
                        </b-button>
                        <b-tooltip target="inst" title="Press [Alt] + A" v-if="browser=='Chrome'"></b-tooltip>
                        <b-tooltip target="inst" title="Press [Alt] [Shift] + A" v-if="browser=='Firefox'"></b-tooltip>
                        <b-tooltip target="inst" title="Press [Control] [Alt/Option] + A" v-if="browser=='Mac'"></b-tooltip>
                      </div>
                      <div class="col-lg-4 col-sm-4 buttons" id="playExecution" >
                        <b-button class="btn btn-outline-secondary btn-block actionsGroup btn-sm h-100" 
                                  @click="executeProgram(true)" 
                                  v-if="runExecution == false" 
                                  id="run">
                          <span class="fas fa-play"></span>
                          Run
                        </b-button>
                      </div>
                      <div class="col-lg-4 col-sm-4 buttons" id="stopExecution" style="display: none">
                        <b-button class="btn btn-outline-secondary btn-block actionsGroup btn-sm h-100" 
                                  @click="stopExecution" 
                                  id="stop">
                          <span class="fas fa-stop"></span>
                          Stop
                        </b-button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-sm-12 py-0 px-1">
              <div class="col-lg-12 col-sm-12 buttons row">
                <div class="col-lg-6 col-sm-6 buttons">
                  <b-button class="btn btn-outline-secondary btn-block menuGroup btn-sm h-100"
                            v-b-modal.examples2>
                    <span class="fas fa-file-alt"></span>
                    Examples
                  </b-button>
                </div>
                <div class="col-lg-6 col-sm-6 buttons">
                  <b-button class="btn btn-outline-secondary btn-block menuGroup btn-sm h-100"
                            v-b-modal.calculator>
                    <span class="fas fa-calculator"></span>
                    Calculator
                  </b-button>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-sm-12 p-0">
              <div class="col-lg-12 col-sm-12 py-0 px-1">
                <div class="col-lg-12 col-sm-12 buttons row">
                  <div class="col-lg-7 col-sm-6 buttons">
                    <b-button class="btn btn-outline-secondary btn-block menuGroup btn-sm h-100" 
                              id="conf_btn_sim" 
                              v-b-modal.configuration>
                      <span class="fa fa-cogs"></span>
                      Configuration
                    </b-button>
                  </div>

                  <div class="col-lg-5 col-sm-6 buttons">
                    <b-button class="btn btn-outline-secondary btn-block btn-sm h-100 infoButton"
                              id="info_sim">
                      <span class="fas fa-info-circle"></span> 
                      Info
                    </b-button>
                  </div>
                </div>
              </div>
            </div>

          </div>


          <!-- Simulator navbar modals -->

          <!-- Examples modal -->
          <examples id="examples2" 
                    ref="examples2" 
                    :example_available="example_available" 
                    compile="true" 
                    modal="examples2">
          </examples>


          <!-- Calculator -->
          <calculator id="calculator"></calculator>


          <!-- Information popover -->
          <popover-info target="info_sim" show_instruction_help="true"></popover-info>


          <!-- Execution instruction -->
          <table-execution :instructions="instructions" :enter="enter"></table-execution>

          <!-- Execution data -->
          <div class="col-rt-4 col-xl-5 col-lg-6 col-sm-12">

            <!-- View selector -->
            <data-view-selector :name_reg="name_reg" 
                                :reg_type="reg_type" 
                                :register_file_num="architecture.components.length"> 
            </data-view-selector>


            <!-- Registers view -->
            <register-file  :data_mode="data_mode"
                            :register_type="register_type">                  
            </register-file>


            <!-- Memory view-->
            <div class="col-lg-12 col-sm-12" id="memory" v-if="data_mode == 'memory'">

              <b-form-group label="Main memory segment:" v-slot="{ ariaDescribedby }" >
                <b-form-radio-group
                  id="btn-radios-1"
                  class="w-50"
                  v-model="mem_representation"
                  :options="mem_representation_options"
                  button-variant="outline-secondary"
                  size="sm"
                  :aria-describedby="ariaDescribedby"
                  name="radios-btn-default"
                  buttons
                ></b-form-radio-group>
              </b-form-group>

              <table-mem :main_memory="main_memory"
                         :memory_segment="mem_representation"
                         :track_stack_names="track_stack_names" 
                         :callee_subrutine="callee_subrutine" 
                         :caller_subrutine="caller_subrutine">
              </table-mem>

            </div>


            <!-- Stats view--->
            <stats  :data_mode="data_mode" 
                    :stats="stats" 
                    :stats_value="stats_value">  
            </stats>

          </div>


          <!-- Monitor & keyboard -->
          <div class="col-rt-4 col-xl-12 col-lg-12 col-sm-12 row pr-0">

            <!-- Monitor -->
            <monitor :display="display"></monitor>

            <!-- Keyboard -->
            <keyboard :keyboard="keyboard" :enter="enter"></keyboard>

          <div class="col-lg-6 col-sm-12 my-2 mx-0"></div>

      </template>
    </div>

    <!-- Required scripts -->
    <script>
      document.write("<script src=\"js/min.creator_web.js?id=" + new Date().getTime() + "\"><\/script>");
    </script>
  </body>
</html>
