<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>WepSim</title>

    <!-- Required Stylesheets -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- Required scripts -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body onload="register_generator()">
    <div id="app">
      <template>
        <header>
          <!-- 1 navbar -->
          <div class="contenedor header row">
            <div class="col-lg-8 col-sm-12 row">
              <div class="col-lg-12 col-sm-12">
                <b-navbar-brand href="#">
                  <h5>WepSim <b-badge pill variant="secondary"> 1.0 </b-badge></h5>
                </b-navbar-brand>
              </div>
            </div>

            <div class="col-lg-4 col-sm-12 row">
              <div class="col-lg-4 col-sm-4">
                <img alt="ARCOS logo" src="./images/arcos.svg" style="height:30pt">
              </div>
              <div class="col-lg-8 col-sm-7">
                <img alt="Computer Science and Engineering Departament logo" src="./images/dptoinf.png" style="height:30pt">
              </div>
            </div>
          </div>
        </header>

        <div class="contenedor row" id="simulator">
	        	<!-- 2 navbar -->
	          <div class="contenedor menu row">
	            <div class="col-lg-4 col-sm-12 nopadding">
	              <div class="col-lg-12 col-sm-12">
	                <div class="col-lg-12 col-sm-12 buttons row">
	                  <div class="col-lg-4 col-sm-4 buttons">
	                    <b-button class="btn btn-outline-secondary btn-block menuGroup btn-sm" id="conf_btn_sim">Configuration</b-button>
	                  </div>
	                  <div class="col-lg-4 col-sm-4 buttons">
	                    <b-button class="btn btn-outline-secondary btn-block menuGroup btn-sm micro_btn" id="micro_btn_sim">MicroCode</b-button>
	                  </div>
	                  <div class="col-lg-4 col-sm-4 buttons">
	                    <b-button class="btn btn-outline-secondary btn-block menuGroup btn-sm assembly_btn" id="assembly_btn_sim">Assembly</b-button>
	                  </div>
	                </div>
	              </div>
	            </div>

	            <div class="col-lg-3 col-sm-12">

	            </div>

	            <div class="col-lg-5 col-sm-12 nopadding">
	              <div class="col-lg-12 col-sm-12">
	                <div class="col-lg-12 col-sm-12 buttons row">
	                  <div class="col-lg-4 col-sm-4 buttons">
	                    <b-button class="btn btn-outline-secondary btn-block btn-sm" style="background-color:#FAFAFA;">Examples</b-button>
	                  </div>
	                  <div class="col-lg-4 col-sm-4 buttons">
	                    <b-button class="btn btn-outline-secondary btn-block btn-sm" style="background-color:#D4DB17;">Help</b-button>
	                  </div>
	                  <div class="col-lg-4 col-sm-4 buttons">
	                    <b-button class="btn btn-outline-secondary btn-block dropdown-toggle btn-sm" style="background-color:#D4DB17;">Instructive</b-button>
	                  </div>
	                </div>
	              </div>
	            </div>
	          </div>
            <!-- Tabla -->
            <div class="col-lg-8 col-sm-12">
              <div class="col-lg-12 col-sm-12 table-inst-wrapper-scroll-y ">
                <b-table striped small hover :items="instructions" class="instructions_table"></b-table>
              </div>
      


              <b-button @click="prueba()">Prueba</b-button> <!-- PRUEBA -->


            </div>

            <!-- lateral datos -->
            <div class="col-lg-4 col-sm-12">
              <div class="col-lg-12 col-sm-12">
                <div class="col-lg-12 col-sm-12 buttons row">
                  <div class="col-lg-4 col-sm-4 buttons">
                    <b-button @click="reset()" class="btn btn-outline-secondary btn-block actionsGroup btn-sm">
                      <span class="fa fa-power-off"></span>
                      Reset
                    </b-button>
                  </div>
                  <div class="col-lg-4 col-sm-4 buttons">
                    <b-button class="btn btn-outline-secondary btn-block actionsGroup btn-sm">
                      <span class="fa fa-fast-forward"></span>
                      Inst.
                    </b-button>
                  </div>
                  <div class="col-lg-4 col-sm-4 buttons">
                    <b-button class="btn btn-outline-secondary btn-block actionsGroup btn-sm">
                      <span class="fa fa-play"></span>
                      Run
                    </b-button>
                  </div>
                </div>
              </div>

              <div class="col-lg-12 col-sm-12">
                <div class="col-lg-12 col-sm-12 buttons row">
                  <div class="col-lg-4 col-sm-4 buttons">
                    <b-button class="btn btn-outline-secondary btn-block opcionsGroup btn-sm">
                      <span class="fa fa-camera"></span>
                      States 
                    </b-button>
                  </div>
                  <div class="col-lg-4 col-sm-4 buttons">
                    <select class="form-control border border-secondary form-control-sm" style="background-color: white; color: black, " id="selectData">
                      <option value="CPU" disabled>CPU</option>
                      <option value="CPU-INT Registers">  CPU-INT Registers</option>
                      <option value="CPU-FP Registers">  CPU-FP Registers</option>
                      <option value="CPU-Stats">  CPU-Stats</option>

                      <option value="Main Memory" disabled>Main Memory</option>
                      <option value="MM-Memory">  MM-Memory</option>
                      <option value="MM-Configuration">  MM-Configuration</option>

                      <option value="Devices" disabled>Devices</option>
                      <option value="Dev-Keyboard+Display">    Dev-Keyboard+Display</option>
                      <option value="Dev-I/O Stats">  Dev-I/O Stats</option>
                      <option value="Dev-I/O Configuration">  Dev-I/O Configuration</option>
                    </select>
                  </div>
                  <div class="col-lg-4 col-sm-4 buttons">
                    <b-button class="btn btn-outline-secondary btn-block opcionsGroup btn-sm">
                      <span class="fa fa-refresh"></span>
                      Refresh 
                    </b-button>
                  </div>
                </div>
                <hr>
              </div>

              <!-- CPU-INT Registers-->
              <div class="col-lg-12 col-sm-12" id="int_registers">
                <div class="col-lg-12 col-sm-12 buttons row">
                  <div class="col-lg-4 col-sm-4 buttons" v-for="item in reg_int_contr">
                    <b-button class="btn btn-outline-secondary btn-block btn-sm registers">
                       {{item.name}}  <b-badge style="background-color:#CEECF5; color:black;">{{((item.value).toString(16)).toUpperCase()}}</b-badge>
                    </b-button>
                  </div>
                </div>

                <hr>

                <div class="col-lg-12 col-sm-12 buttons row">
                  <div class="col-lg-4 col-sm-4 buttons" v-for="item in reg_int">
                    <b-button class="btn btn-outline-secondary btn-block btn-sm registers">
                       {{item.name}}  <b-badge style="background-color:#CEECF5; color:black;">{{((item.value).toString(16)).toUpperCase()}}</b-badge>
                    </b-button>
                  </div>
                </div>
              </div>

              <!-- CPU-FP Registers-->
              <div class="col-lg-12 col-sm-12" id="fp_registers">
                <div class="col-lg-12 col-sm-12 buttons row">
                  <div class="col-lg-4 col-sm-4 buttons" v-for="item in reg_fp_contr">
                    <b-button class="btn btn-outline-secondary btn-block btn-sm registers">
                       {{item.name}}  <b-badge style="background-color:#CEECF5; color:black;">{{((item.value).toString(16)).toUpperCase()}}</b-badge>
                    </b-button>
                  </div>
                </div>

                <hr>

                <div class="col-lg-12 col-sm-12 buttons row">
                  <div class="col-lg-4 col-sm-4 buttons" v-for="item in reg_fp_single">
                    <b-button class="btn btn-outline-secondary btn-block btn-sm registers">
                       {{item.name}}  <b-badge style="background-color:#CEECF5; color:black;">{{((item.value).toString(16)).toUpperCase()}}</b-badge>
                    </b-button>
                  </div>
                </div>

                <hr>

                <div class="col-lg-12 col-sm-12 buttons row">
                  <div class="col-lg-4 col-sm-4 buttons" v-for="item in reg_fp_double">
                    <b-button class="btn btn-outline-secondary btn-block btn-sm registers">
                       {{item.name}}  <b-badge style="background-color:#CEECF5; color:black;">{{((item.value).toString(16)).toUpperCase()}}</b-badge>
                    </b-button>
                  </div>
                </div>
              </div>

              <!-- MM-Memory-->
              <div class="col-lg-12 col-sm-12" id="memory">
                <div class="col-lg-12 col-sm-12 table-mem-wrapper-scroll-y ">
                  <b-table striped small hover :items="memory" class="memory_table"></b-table>
                </div>
              </div>

            </div>

        </div>

        <div class="contenedor row" id="microcode">
        		<!-- 2 navbar -->
	          <div class="contenedor menu row">
	            <div class="col-lg-4 col-sm-12 nopadding">
	              <div class="col-lg-12 col-sm-12">
	                <div class="col-lg-12 col-sm-12 buttons row">
	                  <div class="col-lg-4 col-sm-4 buttons">
	                    <b-button class="btn btn-outline-secondary btn-block menuGroup btn-sm" id="conf_btn_micro">Configuration</b-button>
	                  </div>
	                  <div class="col-lg-4 col-sm-4 buttons">
	                    <b-button class="btn btn-outline-secondary btn-block menuGroup btn-sm assembly_btn" id="assembly_btn_micro">Assembly</b-button>
	                  </div>
	                  <div class="col-lg-4 col-sm-4 buttons">
	                    <b-button class="btn btn-outline-secondary btn-block menuGroup btn-sm simulator_btn" id="simulator_btn_micro">Simulator</b-button>
	                  </div>
	                </div>
	              </div>
	            </div>

	            <div class="col-lg-2 col-sm-12 nopadding">
								<div class="col-lg-12 col-sm-12">
	                <div class="col-lg-12 col-sm-12 buttons row">
	                  <div class="col-lg-6 col-sm-4 buttons">
	                    <b-button class="btn btn-outline-secondary btn-block menuGroup btn-sm" id="load_micro" v-b-modal.load_micro><span class="fa fa-upload"></span> Load</b-button>
	                  </div>
	                  <div class="col-lg-6 col-sm-4 buttons">
	                    <b-button class="btn btn-outline-secondary btn-block menuGroup btn-sm" id="save_micro" v-b-modal.save_micro><span class="fa fa-download"></span> Save</b-button>
	                  </div>
	                </div>
	              </div>
	            </div>

	            <div class="col-lg-5 col-sm-12 nopadding">
								<div class="col-lg-12 col-sm-12">
	                <div class="col-lg-12 col-sm-12 buttons row">
	                  <div class="col-lg-3 col-sm-4 buttons">
	                    <b-button class="btn btn-outline-secondary btn-block menuGroup btn-sm" id="compile_micro"><span class="fa fa-sign-in"></span> µcompile</b-button>
	                  </div>
	                  <div class="col-lg-9 col-sm-4 buttons">
	                    <b-button class="btn btn-outline-secondary btn-block menuGroup btn-sm" id="show_micro"><span class="fa fa-microchip"></span> Show co2µaddr + control memory</b-button>
	                  </div>
	                </div>
	              </div>
	            </div>

	            <div class="col-lg-1 col-sm-12 nopadding">
	            	<div class="col-lg-12 col-sm-12">
	                <div class="col-lg-12 col-sm-12 buttons row">
	              		<div class="col-lg-12 col-sm-12 buttons">
	                		<b-button class="btn btn-outline-secondary btn-block menuGroup btn-sm" id="help_micro" style="background-color:#D4DB17;"><span class="fa fa-exclamation-circle"></span> Help</b-button>
	              		</div>
	            		</div>
	              </div>
	            </div>
	          </div>

	          <div class="contenedor menu row">
	          	<div class="col-lg-12 col-sm-12">
	          		<h5>Microcode:</h5>
	          	</div>
	          	<div class="col-lg-12 col-sm-12">
	          		<b-form-textarea id="textarea_micro" v-model="text_micro" :rows="11" class="code-scroll-y">
    						</b-form-textarea>
	          	</div>
	          </div>

	          <b-modal id = "load_micro" title = "Load Microcode" ok-title="Load from this File" @ok="micro_update">
					    <p> Please select the microcode file to be loaded: </p> 
					    <b-form-file v-model="load_micro" :state="Boolean(load_micro)" placeholder="Choose a file..." id="micro_file" @change="read_micro"></b-form-file>
					  </b-modal >

					  <b-modal  id = "save_micro"   title = "Save Microcode" ok-title="Save to File" @ok="micro_save">
					    <p> Please write the file name: </p> 
					    <b-form-input v-model="save_micro"
                  type="text"
                  placeholder="File name where microcode will be saved">
              </b-form-input>
					  </b-modal >

        </div>

        <div class="contenedor row" id="assembly">
        		<!-- 2 navbar -->
	          <div class="contenedor menu row">
	            <div class="col-lg-4 col-sm-12 nopadding">
	              <div class="col-lg-12 col-sm-12">
	                <div class="col-lg-12 col-sm-12 buttons row">
	                  <div class="col-lg-4 col-sm-4 buttons">
	                    <b-button class="btn btn-outline-secondary btn-block menuGroup btn-sm" id="conf_btn_assembly">Configuration</b-button>
	                  </div>
	                  <div class="col-lg-4 col-sm-4 buttons">
	                    <b-button class="btn btn-outline-secondary btn-block menuGroup btn-sm micro_btn" id="micro_btn_assembly">MicroCode</b-button>
	                  </div>
	                  <div class="col-lg-4 col-sm-4 buttons">
	                    <b-button class="btn btn-outline-secondary btn-block menuGroup btn-sm simulator_btn" id="simulator_btn_assembly">Simulator</b-button>
	                  </div>
	                </div>
	              </div>
	            </div>

	            <div class="col-lg-2 col-sm-12 nopadding">
								<div class="col-lg-12 col-sm-12">
	                <div class="col-lg-12 col-sm-12 buttons row">
	                  <div class="col-lg-6 col-sm-4 buttons">
	                    <b-button class="btn btn-outline-secondary btn-block menuGroup btn-sm" id="load_assembly" v-b-modal.load_assembly><span class="fa fa-upload"></span> Load</b-button>
	                  </div>
	                  <div class="col-lg-6 col-sm-4 buttons">
	                    <b-button class="btn btn-outline-secondary btn-block menuGroup btn-sm" id="save_assembly" v-b-modal.save_assembly><span class="fa fa-download"></span> Save</b-button>
	                  </div>
	                </div>
	              </div>
	            </div>

	            <div class="col-lg-5 col-sm-12 nopadding">
								<div class="col-lg-12 col-sm-12">
	                <div class="col-lg-12 col-sm-12 buttons row">
	                  <div class="col-lg-3 col-sm-4 buttons">
	                    <b-button class="btn btn-outline-secondary btn-block menuGroup btn-sm" id="compile_assembly"><span class="fa fa-sign-in"></span> Compile</b-button>
	                  </div>
	                  <div class="col-lg-9 col-sm-4 buttons">
	                    <b-button class="btn btn-outline-secondary btn-block menuGroup btn-sm" id="show_assembly"><span class="fa fa-microchip"></span> Show Main Memory</b-button>
	                  </div>
	                </div>
	              </div>
	            </div>

	            <div class="col-lg-1 col-sm-12 nopadding">
	            	<div class="col-lg-12 col-sm-12">
	                <div class="col-lg-12 col-sm-12 buttons row">
	              		<div class="col-lg-12 col-sm-12 buttons">
	                		<b-button class="btn btn-outline-secondary btn-block menuGroup btn-sm" id="help_assembly" style="background-color:#D4DB17;"><span class="fa fa-exclamation-circle"></span> Help</b-button>
	              		</div>
	            		</div>
	              </div>
	            </div>
	          </div>

	          <div class="contenedor menu row">
	          	<div class="col-lg-12 col-sm-12">
	          		<h5>Assembly:</h5>
	          	</div>
	          	<div class="col-lg-12 col-sm-12">
	          		<b-form-textarea id="textarea_assembly" v-model="text_assembly" :rows="11" class="code-scroll-y">
    						</b-form-textarea>
	          	</div>
	          </div>

	          <b-modal  id = "load_assembly"   title = "Load Assembly" ok-title="Load from this File" @ok="assembly_update">
					    <p> Please select the assembly file to be loaded </p> 
					    <b-form-file v-model="load_assembly" :state="Boolean(load_assembly)" placeholder="Choose a file..." @change="read_assembly" id="assembly_file"></b-form-file>
					  </b-modal  >

					  <b-modal  id = "save_assembly"   title = "Save Assembly" ok-title="Save to File" @ok="assembly_save">
					    <p> Please write the file name: </p> 
					    <b-form-input v-model="save_assembly"
                  type="text"
                  placeholder="File name where assembly will be saved">
              </b-form-input>
					  </b-modal  >

        </div>
      </template>
    </div>

    <script src="js/app.js"></script>
    <script src="js/buttons_actions.js"></script>

  </body>
</html>