.compMenu {
  padding: 2px;
}

.opcionsGroup {
  background-color: white;
}

.variant-blue-funny {
  background-color: #00bcfe;
}


@media only screen and (min-width: 2560px) {
  .instructions_table {
    padding-right: 1%;
    cursor: pointer;
    max-height: 80vh;
  }
  .memory_table {
    font-size: 0.85em;
    max-height: 70vh;
  }
}

@media only screen and (min-width: 540px) and (max-width: 960px) {
  .spinner {
    display: block;
    position: fixed;
    z-index: 41;
    top: 45%;
    right: 44%;
    background: white;
    border: 1px solid #a9a9a9;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    padding: 10px;
    opacity: 1;
    text-align: center;
  }

  .groupLabelling {
    float: top;
    position: relative;
    top: -2.3vw;
  }
}

@media only screen and (max-width: 540px) {
  .spinner {
    display: block;
    position: fixed;
    z-index: 41;
    top: 50%;
    right: 39%;
    background: white;
    border: 1px solid #a9a9a9;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    padding: 10px;
    opacity: 1;
    text-align: center;
  }

  .groupLabelling {
    float: top;
    position: relative;
    top: -3.2vw;
  }
}
